body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px;
}
h1, h3 {
  font-family: "Almendra";
}
.main-body {
  border: 1px solid #ccc;
  height: 83vh;
  padding: 10px;
}
.name {
  overflow: scroll;
  border-right: none;
}
#map-canvas {
  height: 79vh;
}

@media (max-width: 768px) {
  .name {
    height: 30vh;
    border-bottom: none;
    border-right: 1px solid #ccc;
  }

  .map {
    height: 40vh;
  }

  #map-canvas {
    height: 35vh;
  }
}
