body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px;
}
.main-body {
  width: 50%;
  border: 1px solid black;
  height: 400px;
}
#name {
  overflow: scroll;
}
#map-canvas {
  height: 300px;
}
